<% include ./header %>

<table class="table">
    <thead>
        <tr>
            <th><h4>Index Page</h4></th>
        </tr>
        <tr>
            <th>Select Function</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/allBreedsList">List All Breeds</a></td>
        </tr>
        <tr>
            <td> <a href="/randomImage">Show Random Image</a></td>
        </tr>
        <tr>
            <td><a href="/byBreed">Show Images By Breed</a></td>
        </tr>
        <tr>
            <td><a href="/allSubBreedsList">List All Sub-Breeds</a></td>
        </tr>
    </tbody>
</table>
<% include ./footer %>