<% include ./header %>
<div class="container d-flex justify-content-center">
    <h1>Random Image</h1>
</div>
<div class="container d-flex justify-content-center">
    <p><a class="btn btn-primary" href="/">Back to Index Page</a></p>
</div>

<div class="container d-flex justify-content-center">
    <img src="<%= rndImage %>" class="img-thumbnail" alt="dog random img" width="500" height="500">
</div>

<% include ./footer %>